<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>타임리프 예시 코드</title>

  <style>
    table { border-collapse: collapse; }
    tr,td { border: 1px solid black; }


  </style>
</head>
<body>

<p><b>1. th:text를 활용해서 데이터를 동적으로 입력받아보기</b></p>

<p>안녕하세요. 제 이름은 <span th:text="${name}"> 입니다.</span></p>
<p>제 나이는 <span th:text="${age}"></span>살입니다.</p>

<br>

<p><b>2. 아래 이미지를 동적으로 가져오려면 th:src="@{}" 형태로 사용해야합니다.</b></p>
<p> 가져온 이미지 url 주소를 자유롭게 넣어보세요. <br>
  (아래 그림은
  https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202105/25/holapet/20210525044422431yyir.jpg)
  <br>
  에서 가져왔습니다. <br>
</p>
<p>각자 원하는 이미지를 다운로드 해서 "상대경로"에 src를 작성해보세요.</p>

<img th:src="@{https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202105/25/holapet/20210525044422431yyir.jpg}">


<p><b>3. 아래 버튼을 클릭하면 어떤 사이트로 이동하실건가요? 데이터를 동적으로 넣어보세요. </b></p>

사이트명 : <span th:text="${siteName}"></span> <br>
<a th:href="@{https://www.naver.com/}" style="text-decoration:underline; cursor :pointer">사이트주소 이동</a> <br>

<p><b>4. th:value로 아래 input 에 동적인 데이터를 넣어보세요.</b></p>
<input type="text" th:value="${inputValue}" /> <br>

<p><b>5. th:if를 활용하면 원하는 태그값을 사용할 수 있어요</b></p>
예) 님은 관리자입니까 일반인입니까? <br>
<p th:if="${isAdmin}">관리자 입니당.</p>
<p th:unless="${isAdmin}">일반인 입니당.</p>

<br>

<p><b>6. 이번에는 th:switch와 th:case를 이용해서 여러 조건을 한번에 해보겠습니다 <br> (like 자바의 switch) </b></p>
예) 등급에 맞게 출력해보기<br>
<div th:switch="${grade}">
  <p th:case="'A'">A등급</p> <!-- 왜 " ' ' " 형태인가요? 이 값이 문자열임을 정확히 명시할려고 하는거에요  -->
  <!-- "abc" 이건 변수 abc 일까 아니면 값 abc 일까? 헷갈려! "'abc'" 이렇게쓰면 아~ 이건 문자 abc 의미하는구나 ! -->
  <p th:case="'B'">B등급</p>
  <p th:case="'C'">C등급</p>
  <p th:case="*">등급을 매길수가 없따...</p>
</div>

<br>

<p><b> 이번에는 table 을 활용해서 key , value 형태로 데이터를 반복 처리해보겠습니다.</b></p>
<pre> 예) 이런 형태로 출력해볼게용

    | 영어    | 한글   |
    -------------------
    | apple  |  사과  |
    | banana | 바나나 |
    | work   |  일    |
    | red    | 빨간   |
    ------------------
</pre>

<table>
  <thead>
  <tr>
    <th>영어</th>
    <th>한글</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row : ${dictionary}">
    <td th:text="${row['english']}"></td>
    <td th:text="${row['korean']}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>